<h2>HTML Table</h2>

<table>
  <tr>
    <th>Description</th>
    <th>Due Date</th>
    <th>Is Completed</th>
    <th>Name</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let todo of todoItems">
    <td>{{todo.description}}</td>
    <td>{{todo.dueDate}}</td>
    <td>{{todo.isDone}} <button (click)="completedTodo(todo)">Complete</button>
    </td>
    <td>{{todo.name}}</td>
    <button (click)="deleteTodo(todo)">Delete</button>
  </tr>
</table>

<div [formGroup]='todosForm'>
  <div class="input" >
    <input type="text" id="fname" name="description" formControlName="description" placeholder="Description">
  </div>
  <div class="input">
    <input type="text" id="fname" name="dueDate" formControlName="dueDate" placeholder="Due Date">
  </div>
  <div class="input">
    <input type="text" id="fname" name="isCompleted" formControlName="isDone" placeholder="is Completed">
  </div>
  <div class="input">
    <input type="text" id="fname" name="name"formControlName="name"  placeholder="Name">
  </div>
</div>


<button class="button" (click)="createTodo()">Submit</button>
